# heavy data
*.hdf5
*.pdf
# build artifacts

.eggs/
.mypy_cache
*.egg-info/
build/
dist/
pip-wheel-metadata/


# dev tools

.envrc
.python-version
.idea
.venv/
.vscode/
/*.iml
pyrightconfig.json


# jupyter notebooks

.ipynb_checkpoints
notebooks/plots/*
notebooks/results/*

# miscellaneous

.cache/
doc/_build/
*.swp
.DS_Store
memory_cache/*
cache/*

# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.coverage
.pytest_cache/
.benchmarks

# documentation build artifacts

docs/build
site/

# User Output
plots/
results/

# local benchmark artifacts
scripts/benchmark_results/
scripts/benchmark_results.zip
