pip>=19.0
astropy>=4.0
jupyter>=1.0
cython==0.29.28
matplotlib>=3.1
numpy>=1.17
scipy>=1.3
getdist>=1.1.3
pyyaml
joblib
seaborn
# camb>=1.3
#    - pytest>=6.2
#    - pytest-cov>=2.10
#    - pytest-pycodestyle>=2.2.0
#    - pytest-pydocstyle>=2.2.0
